<div class="bgChat">
  <div class="page-content messages-content" style="padding-bottom: 60px;">
    <div class="bg-shortcut">
      <div style="padding: 10px 30px; text-align: left;">
        <p class="font-inter-regular" style="color: #A0A0A1">shortcut here :</p>

        <div class="listQuest"></div>

        <a href="#" style="color: #A0A0A1; font-size: 11px;"
          >more question coming soon...</a
        >
      </div>
    </div>
    <div class="messages"></div>
  </div>
  <div class="row container-input">
    <div class="col">
      <div class="bg-email">
        <a
          href="mailto:jiehanandika@gmail.com"
          target="_blank"
          class="font-inter-medium external"
          style="color: #DC3545; padding: 8px 11px; display: block; z-index: 11;"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-fill"
            viewBox="0 0 16 16"
            style="color: #DC3545; vertical-align: sub; margin-right: 3px;"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
            ></path>
          </svg> email me
        </a>
      </div>
    </div>
    <div class="col">
      <div class="bg-input">
        <div class="row">
          <div class="col" style="padding: 9px 20px;">
            <input
              type="text"
              placeholder="ask me something..."
              class="text-input font-inter-regular"
            />
          </div>
          <div class="col" style="text-align: right; padding: 7px">
            <a href="#" class="send-link" style="display: none;">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-arrow-up-circle-fill"
                viewBox="0 0 16 16"
                style="color: #007AFF"
              >
                <path
                  d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col">
    <div class="bg-twitter">
      <a
        href="https://twitter.com/jiaaaan_"
        target="_blank"
        class="button external"
      >
        <div class="button-box">
          <span class="button-elem">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-arrow-down-left"
              viewBox="0 0 16 16"
              style="color: #696969"
            >
              <path
                fill-rule="evenodd"
                d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0z"
              ></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-arrow-down-left"
              viewBox="0 0 16 16"
              style="color: #696969"
            >
              <path
                fill-rule="evenodd"
                d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0z"
              ></path>
            </svg>
          </span>
        </div>
      </a>
      <div style="padding: 15px;">
        <img src="assets/image/icons/contact/twitter.svg" alt="" />
        <p class="font-inter-regular">@jiaaaan_</p>

        <h3 class="font-inter-medium">Follow me on <br /> Twitter!</h3>
      </div>
    </div>
    <div class="bg-resume">
      <a
        href="assets/resume/JiaanResume.pdf"
        target="_blank"
        class="font-inter-bold external"
        style="padding: 15px; display: block"
      >
        <img src="assets/image/vector/btn-resume.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="col">
    <div class="bg-contact">
      <br />
    </div>
  </div>
</div>
