<div style="text-align: left;">
  <h1 style="font-size: 40px;" class="text-color-white font-inter-regular">
    Hi, it's me. <br />
    <b>Jiehan Anandika</b>
  </h1>

  <p style="font-size: 18px;" class="font-inter-regular color-text-p">
    As a <i>front-end developer</i>, I am passionate about <br /> crafting visually
    stunning and user-friendly <br /> websites and applications.
  </p>

  <a
    class="font-inter-semi text-color-white"
    style="display: block; font-size: 16px; margin-top: 50px;"
  >
    Go To Overview <img
      style="vertical-align: middle; margin-left: 5px;"
      src="assets/image/icons/home/arrow-btn.svg"
      alt=""
    />
  </a>

  <div class="row" style="margin-top: 50px; max-width: 90%;">
    <div class="col-33">
      <p class="font-inter-regular" style="color: rgba(255, 255, 255, 0.60);">
        PROJECTS
      </p>
      <h2 class="text-color-white font-inter-semi" style="margin-top: 4px;">
        8
      </h2>
    </div>
    <div class="col-33">
      <p class="font-inter-regular" style="color: rgba(255, 255, 255, 0.60);">
        EXPERIENCE
      </p>
      <h2 class="text-color-white font-inter-semi" style="margin-top: 4px;">
        3 yrs
      </h2>
    </div>
    <div class="col-33">
      <p class="font-inter-regular" style="color: rgba(255, 255, 255, 0.60);">
        NATIONALITY
      </p>
      <h2 class="text-color-white font-inter-semi" style="margin-top: 4px;">
        IDN 🇮🇩
      </h2>
    </div>
  </div>
</div>
