<center>
  <div class="avatar">
    <img class="avame" src="assets/image/avatar/1.svg" alt="" />
  </div>

  <h2 class="font-inter-medium text-color-white">Welcome Back</h2>

  <div class="row lock-form" style="width:400px;">
    <div class="col">
      <div class="input-lock">
        <br />
        <input
          id="lockInput"
          type="password"
          placeholder="Enter Password"
          class="font-inter-medium text-color-white"
          maxlength="16"
        />
      </div>
    </div>
    <div class="col">
      <a
        href="#"
        class="question-lock popover-open"
        data-popover=".popover-info"
      >
        <img src="assets/image/icons/lockscreen/lock-question.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="preloader color-white lock-loader" style="display: none;"></div>
</center>
