<div style="text-align: left;">
  <h1 style="font-size: 40px;" class="text-color-white font-inter-bold">
    Overview
  </h1>
  <p
    class="font-inter-regular color-text-p"
    style="font-size: 19px; max-width: 600px;"
  >
    In the 7th grade, my journey in programming began during the beta phase of
    Android Studio, and it has been a continuous adventure of exploration in
    various domains, including Web, Android, and Game Development.
  </p>

  <p
    class="font-inter-regular color-text-p"
    style="font-size: 19px; max-width: 600px;"
  >
    As a seasoned Front-End Developer, I specialize in curating engaging user
    interfaces and exceptional user experiences. My proficiency extends to UI/UX
    design, with Figma being my go-to tool for crafting interfaces that
    seamlessly blend form and function. I see myself as more than just a coder;
    I am a catalyst for change, always eager to contribute to projects that make
    a meaningful impact to people and company that i work.
  </p>
</div>

<div
  style="float:right; text-align: left; margin-top: -430px; margin-right: 200px;"
>
  <h1
    style="font-size: 23px; margin-bottom: 40px;"
    class="text-color-white font-inter-semi"
  >
    More About Me
  </h1>

  <p class="font-inter-regular text-color-white" style="font-size: 16px; ">
    BORN IN JAKARTA, 10 MAY 2000
  </p>
  <h2
    class="text-inter-bold text-color-white"
    style="margin-top: -8px; font-size: 26px;"
  >
    <b id="old">23</b> Years Old <img
      src="../assets/image/icons/overview/star.svg"
      style="margin: 7px 4px; vertical-align: bottom;"
      alt=""
    />
  </h2>

  <p
    class="font-inter-regular text-color-white"
    style="font-size: 16px; margin-top: 40px;"
  >
    ZODIAC
  </p>
  <h2
    class="text-inter-bold text-color-white"
    style="margin-top: -8px; font-size: 26px;"
  >
    Taurus <img
      src="../assets/image/icons/overview/taurus.svg"
      style="margin: 7px 4px; vertical-align: bottom;"
      alt=""
    />
  </h2>

  <p
    class="font-inter-regular text-color-white"
    style="font-size: 16px; margin-top: 40px;"
  >
    EDUCATION
  </p>

  <img
    src="../assets/image/icons/overview/edu.svg"
    style="margin-top: 10px;"
    alt=""
  />
</div>
