<div class="footer">
  <center>
    <div class="row chooseBg" style="width: 450px;">
      <div class="col">
        <a href="#" class="changeBg bg-default" id="1">
          <img src="assets/image/icons/lockscreen/bg1.svg" alt="" />
        </a>
      </div>
      <div class="col">
        <a href="#" class="changeBg" id="2">
          <img src="assets/image/icons/lockscreen/bg2.svg" alt="" />
        </a>
      </div>
      <div class="col">
        <a href="#" class="changeBg" id="3">
          <img src="assets/image/icons/lockscreen/bg3.svg" alt="" />
        </a>
      </div>
      <div class="col">
        <a href="#" class="changeBg" id="4">
          <img src="assets/image/icons/lockscreen/bg4.svg" alt="" />
        </a>
      </div>
      <div class="col">
        <a href="#" class="changeBg" id="5">
          <img src="assets/image/icons/lockscreen/bg5.svg" alt="" />
        </a>
      </div>
      <div class="col">
        <a href="#" class="changeBg" id="6">
          <img src="assets/image/icons/lockscreen/bg6.svg" alt="" />
        </a>
      </div>
    </div>

    <p class="font-inter-medium text-color-white">
      <b>©2024</b> - Made by Passion and Love from <b>Jiaan.</b>
    </p>
  </center>
</div>
