<div class="vision-navbar">
  <br />
  <div class="toolbar tabbar toolbar-bottom toolbar-custom">
    <div class="toolbar-inner">
      <a href="#tab-1" class="tab-link tab-link-active font-inter-regular"
        >Home</a
      >
      <a href="#tab-2" class="tab-link font-inter-regular">Overview</a>
      <a href="#tab-3" class="tab-link font-inter-regular">Projects</a>
      <a href="#tab-4" class="tab-link font-inter-regular">Experience</a>
      <a href="#tab-5" class="tab-link font-inter-regular">Contact</a>
    </div>
    <div class="glider"></div>
  </div>
</div>
