<div style="text-align: left;">
  <h1 class="font-inter-bold text-color-white">Projects</h1>
  <p
    class="font-inter-regular text-color-white"
    style="font-size: 17px; margin-top: -10px"
  >
    On this page you will find projects that I have made.
  </p>

  <div class="project-container" id="listProject"></div>

  <img src="assets/image/icons/scroll.svg" class="scroll-icon" alt="" />

  <!-- <div class="row" id="listProject"></div> -->
</div>
