---
import LeftSection from "./LeftSection.astro";
import RightSection from "./RightSection.astro";
---

<div class="row">
  <div class="col-50">
    <LeftSection />
  </div>
  <div class="col-50">
    <RightSection />
  </div>
</div>
