---
import Layout from "../layouts/Layout.astro";
import Lock from "../components/Desktop/LockScreen/Lock.astro";
import Inside from "../components/Desktop/InsideScreen/Inside.astro";
import Footer from "../components/Desktop/Navigation/Footer.astro";
---

<Layout
  title="Jiaan - Frontend Developer"
  style="assets/css/page.css"
  script="assets/js/page.js"
>
  <div class="lockscreen-bg">
    <br />
    <div class="content">
      <Lock />
    </div>

    <div class="inside" style="display: none;">
      <Inside />
    </div>
    <Footer />
  </div>
</Layout>
