<div style="text-align: left;">
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-item-date text-color-white">
        Jul <small>2023</small>
        <br /> Nov <small>2023</small>
      </div>
      <div class="timeline-item-divider"></div>
      <div class="timeline-item-content">
        <div class="timeline-item-time font-inter-bold color1">
          Bisatumbuh · Contract
        </div>
        <h3 class="font-inter-medium text-color-white" style="margin-top: 3px;">
          Frontend Developer & UI/UX
        </h3>

        <p class="text-color-white">
          Front-End Development · Swift (Programming Language) · Java · User
          Interface Design · User Experience (UX) · Application Development ·
          Figma (Software) · Postman API · Web Development · HTML5 · Cascading
          Style Sheets (CSS) · React JS · JavaScript · GitHub
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-item-date text-color-white">
        Oct <small>2022</small>
        <br /> Jun <small>2023</small>
      </div>
      <div class="timeline-item-divider"></div>
      <div class="timeline-item-content">
        <div class="timeline-item-time font-inter-bold color1">
          Inovata · Full Time
        </div>
        <h3 class="font-inter-medium text-color-white" style="margin-top: 3px;">
          QA & Frontend Developer
        </h3>

        <p class="text-color-white">
          Ploi · API Testing · Figma (Software) · Amazon Web Services (AWS) ·
          Postman API · English · Gitlab · Firebase · Katalon Studio · Quality
          Assurance · Web Development · Front-end Development · HTML5 ·
          Cascading Style Sheets (CSS) · React JS · JavaScript
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-item-date text-color-white">
        Aug <small>2022</small>
        <br /> Jan <small>2023</small>
      </div>
      <div class="timeline-item-divider"></div>
      <div class="timeline-item-content">
        <div class="timeline-item-time font-inter-bold color1">
          Daytrans · Remote
        </div>
        <h3 class="font-inter-medium text-color-white" style="margin-top: 3px;">
          React Developer
        </h3>

        <p class="text-color-white">
          Figma (Software) · Trello · Amazon Web Services (AWS) · Amazon S3 ·
          Postman API · React.js · Xcode · Custom CMS Development · JavaScript ·
          React Native · GitHub
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-item-date text-color-white">
        Aug <small>2019</small>
        <br /> May <small>2022</small>
      </div>
      <div class="timeline-item-divider"></div>
      <div class="timeline-item-content">
        <div class="timeline-item-time font-inter-bold color1">
          Balesin.id · Full Time
        </div>
        <h3 class="font-inter-medium text-color-white" style="margin-top: 3px;">
          Frontend Developer
        </h3>

        <p class="text-color-white">
          Sequel · Trello · Facebook API · Facebook Pixel · SASS · WordPress ·
          Flask · Chatbot Development · Chatbot Design · Front-end Development ·
          HTML5 · Cascading Style Sheets (CSS) · JavaScript · PHP · MySQL ·
          Vue.js · Nuxt.js · GitHub · Search Engine Optimization (SEO)
        </p>
      </div>
    </div>
  </div>
</div>
